{% extends 'main/base.html' %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<form method="POST" style="margin:50px 300px 0px 300px;">
{% csrf_token %}
    <div class="input-group mb-3">
    <span class="input-group-text" id="name">Name</span>
    {{form.name}}
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="email">Email</span>
        {{form.email}}
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="Subject">Subject</span>
        {{form.subject}}
    </div>
    <div class="input-group">
    <span class="input-group-text">Feedback</span>
        {{form.message}}
    </div>
    <div style="text-align:center; margin-top:30px;">
        <button type="submit" class="btn btn-outline-primary">Send</button>
    </div>
</form>
{% endblock %}
