{% extends 'main/base.html' %}
{% load static %}

{% block title %}
House Predict
{% endblock %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/c1.jfif' %}" alt="Carousel1">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>For All Of Your Housing Needs.</h1>
            <p>Add Intro Here.</p>
            <p><a class="btn btn-lg btn-primary" href="/register" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/Logo.jpg' %}" alt="Carousel2">  
        <div class="container">
          <div class="carousel-caption">
            <h1>Know More About Us.</h1>
            <p>Add About Page Beginning Here</p>
            <p><a class="btn btn-lg btn-primary" href="/aboutus" role="button">Continue Reading</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/c3.jpg' %}" alt="Carousel3">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Have an House Idea In Mind?</h1>
            <p>Predict cost with our Machine Learning Algorithm.</p>
            <p><a class="btn btn-lg btn-primary" href="/predict" role="button">Check out this feature</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'images/house-fill.png' %}" alt="Circle1" width=140 height=140>
        
        <h2>What Lies Ahead</h2>
        <p>Placeholder.</p>
        <p><a class="btn btn-secondary" href="/future" role="button">Future Aspects &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/machine.jpg' %}" alt="Circle2" width=140 height=140>
        <h2>About ML Prediction</h2>
        <p> Insert ML intro here.</p>
        <p><a class="btn btn-secondary" href="/mlalgo" role="button">Know More &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/house-fill.png' %}" alt="Circle3" width=140 height=140>
        <h2>About House Predict</h2>
        <p>About Us Beginning....</p>
        <p><a class="btn btn-secondary" href="/aboutus" role="button">About Us &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  <hr class="featurette-divider">
  <!-- FOOTER -->
  <footer class="container">
    <p>&copy; House Prdeict &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

{% endblock %}