{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div  style="margin-top:40px;text-align:center;">
<img src="{% static 'images/hp_black_logo.png'%}" alt="register logo" width=400px>
</div>
<form method="POST" style="margin-top: 40px;">
    {% csrf_token %}
    <div style="display: flex;flex-direction: row; justify-content:center;">
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:400px;">
        {{form.first_name}}
        <label for="fname">First Name</label>
        </div>
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:400px;">
        {{form.last_name}}
        <label for="lname">Last Name</label>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;justify-content:center;">
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:840px;">
        {{form.username}}
        <label for="uname">Username</label>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;justify-content:center;">
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:840px;">
        {{form.email}}
        <label for="email">Email</label>
        </div>
    </div>
    <div style="display: flex;flex-direction: row;justify-content:center;">
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:400px;">
        {{form.password1}}
        <label for="pass1">Enter Password</label>
        </div>
        <div class="form-floating mb-3" style="display: block;margin: 0px 20px 0px 20px;width:400px;">
        {{form.password2}}
        <label for="pass2">Confirm Password</label>
        </div>
    </div>
        <div class="form-floating mb-3"style="text-align:center; margin-top:20px;">Already have an account? Login <a href="/login">Here </a></div>
        <div style="text-align:center; margin-top:20px;">
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
        </div>
</div>
    
</form>
{% endblock %}