{% extends 'main/base.html' %}

{% block title %}
Future Aspects
{% endblock %}

{% block content %}

<section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">
    <div style="background-color: #E0E4E7; margin-left:0; margin-right: 0;">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Future Aspects</h3>
                <br>
                <p style ="color:#585F63; text-align:left;" class=" pb-5 mbr-fonts-style display-5" >
                    At House Predict we are always in the pursuit of perfection. We always try to make our application more Accessible, Feature-rich and Accurate. Here are some paths we plan to tread :
                    <ol style ="color:#585F63; text-align:left;" class=" pb-5 mbr-fonts-style display-5">
                        <li>
                    	We are aiming to expand this project from single flat or house construction to a project which will predict more appropriately towards construction of a colony or a housing society. Moving on forwards it will not only be limited to house or flat but will also take into account every type of construction site ranging from malls to marts and shopping complex and later major developmental projects like flyovers , dams and bridges.
                        </li>
                        <br>
                        <li>
                    	We also plan to venture out towards an Real Estate solution. This addition would facilitate selling and buying of properties by providing an all in one platform for various real estate needs. With our Machine Learning powered prediction models this integration will provide better insights in various aspects enabling users to easily find the perfect property for them.
                        </li>
                        <br>
                        <li>
                    	Accuracy is something we strive for at House Predict. To make our models better and more accurate we are experimenting with combining different models to better cater to your needs. This will result in more accurate predictions and will give users more choice over the whole process.
                    </li>
                    </ol>
                    <p style ="color:#585F63; text-align:left;" class=" pb-5 mbr-fonts-style display-5">
                    House Predict has great future aspects with major possibilities aiming to make a world full of dreams and ambitions.
                    </p>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class=" align-center"><a class="btn btn-secondary" href="mailto:name@email.com">
        CONTACT US</a></div>
</section>


{% endblock %}