{% extends 'main/base.html' %}

{% block title %}
Machine Learning
{% endblock %}

{% block content %}

<section class="header1 cid-qyvisAZ1Bw" id="header1-7" data-rv-view="758">
    <div style="background-color:#E0E4E7">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"><strong>The Machine Learning Algorithm</strong></h3>
                <br><br>
                <p class="pb-5 mbr-fonts-style display-5" style ="color:#585F63; text-align:left;">
                    This project aims at solving this very problem so as to help the society to pre-plan and take notice of things in well advance so as they do not face any difficulty during their construction period. This project will therefore take into account various factors and also preferential choices of customers in order to make a budget prediction system which would give approximate budget of construction for that particular project. Amongst the details gathered some of them would be -:
                    <ul style ="color:#585F63; text-align:left;" class=" pb-5 mbr-fonts-style display-5">
                        
                    <li>Area of Construction</li>
                    <li>Location of Construction</li>
                    <li>Number of Rooms</li>
                    <li>Number of Washrooms and Bathrooms</li>
                    <li>Number of stories</li>
                    <li>Availability of Basement</li>
                    <li>Number of Parking </li>
                    <li>Furnished or unfurnished status</li>
                        
                    </ul>
                    <p style ="color:#585F63; text-align:left;" class=" pb-5 mbr-fonts-style display-5">
                    And many more. These information will be used as a tool to analyze the requirements of the customer and the cost according to it. And so, analyzing the overall requirements and cost of those would give us the overall budget of the construction project. Using this analysis customers can look into what requirements they have selected and how much are those adding to the budget. And so, they can re-design there plan so as it fits perfectly with the budget and causes no issues in the later development.  Hence our customers will have a prior knowledge of what is being used and what materials are being put up with no worries of over-spending or over –expenditure and can continue their construction with no budget issues.
                    </p>  
                </p>
                
            </div>
        </div>
    </div>
    <br>
    <div class=" align-center"><a class="btn btn-secondary" href="mailto:name@email.com">
        CONTACT US</a></div>

</section>


{% endblock %}